{% extends "network/layout.html" %}
{% load static %}


{% block body %}

<div class="d-flex flex-column p-3 m-3 border border-secondary">
    <div><strong>{{ user.username }}</strong></div>
    <div>Followers: {{ followers.count }}</div>
    <div>Following: {{ following.count }}</div>
        {% if is_user %}
        <form action="{% url 'follow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user-visiting" value="{{user.username}}">
            {% if follows %}
            <button class="btn btn-primary" name="action" value="unfollow">Unfollow</button>
            {% else %}
            <button class="btn btn-primary" name="action" value="follow">Follow</button>
            {% endif %}
        </form>
        {% endif %}
    <div></div>
</div>

{% for post in page_obj %}

<div class="d-flex flex-column p-3 m-3 border border-secondary">
    <a href="{% url 'profile-page' post.user.username %}"><div class="p-1"><strong>{{post.user}}</strong></div></a>
    {% if request.user == post.user %}
    <div class="p-1">
        <a href="#" class="edit" data-post-id="{{ post.id }}" id="edit-{{ post.id }}">Edit</a>
    </div>     
    {% endif %}
    <div class="p-1" id="content-{{ post.id }}">{{post.content}}</div>
    <div class="p-1 text-muted" id="timestamp-{{ post.id }}">{{post.timestamp}}</div>
    <div class="p-1 like" id="like-{{ post.id }}" data-post-id="{{ post.id }}">&hearts; {{post.total_likes}}</div>
</div>

{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}  